@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: lightgray;
    color: #000000;
    font-family: Orbitron, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer{
    box-sizing: border-box;
    height: 7vh;
    background-color: #0c50b3;
    color: white;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header a, footer a{
    color: white;
}

header a{
    text-decoration: none;
}

header h1{
    border-right: 4px solid white;
    width: 20vw;
    font-size: 2.3vmax;
}

header li{
    font-size: 1.5vmax;
}

#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

a{
    color: black;
    font-size: 1.5vmax;
}

a:hover{
    color: #595959;
}

p{
    font-size: 1.5vmax;
}

h1 {
    font-size: 3vmax;
}

#all-Projects{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

main{
    padding-left: 1vw;
    height: 86vh;
    overflow: auto;
}

.project{
    border-top: 2px solid black;
    padding: 10px 10px;
}

h2{
    font-size: 2.3vmax;
}

h3{
    font-size: 1.5vmax;
}

li {
    font-size: 1.3vmax
}